<h1>page index</h1>

<% @detail.each do |data| %>
    <h2>"==================================" </h2>
    <h2><%= data.reserveName %></h2>
    <h2>"==================================" </h2>

<% end %>