
<h1>page index</h1>

<% @user.each do |person| %>
    <h2>"==================================" </h2>
    <h2><%= person.name %></h2>
    <h2><%= person.department %></h2>
    <h2>"==================================" </h2>

<% end %>